{% extends "./layout.html" %}

{% block body %}

{% load static %}

<h4 class="mb-3 heading">Actualización de Datos de Paciente</h4>

<form action="{% url 'editar_paciente' %}" method="post" id="editar-paciente-form" class="needs-validation" novalidate>
  {% csrf_token %}



     <div class="form-group col-md-4">
      <h4 class="mb-3">Pedido de turno para paciente</h4>

      <div class="form-check">
        <label for="inputDni" class="mb-2">Inserte DNI</label>
        <input type="number" class="form-control" id="inputDni" placeholder="DNI" required>
      </div>
    </div>

    <div class="form-group col-md-4">
      <div class="form-check">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>

    <div class="form-group col-md-4">
      <div class="form-check">
        <label class="form-check-label mb-2" for="inputBirthDate">
          Seleccionar fecha de nacimiento
        </label>
        <input class="form-control" type="datetime-local" value="" id="inputBirthDate" required></input>
        <div class="invalid-feedback">
          Por favor, seleccione una fecha válida.
        </div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <div class="form-check">
        <button type="submit" class="btn btn-primary" value="Registrar">Registrar Turno</button>
      </div>
    </div>
  
  </form>


<a href="{% url 'index' %}">Volver atrás</a>

<script type="text/javascript" src="{%  static 'usuarios/generar_turno.js' %}"></script>

{% endblock %}