{% extends "./layout.html" %}
{% load static %}

{% block body %}


<!--<h4 class="mb-3 heading">Pedido de venta a paciente</h4>-->
<p style="color: red; font-size: 20px">{{mensaje_error}}<p>

<form action="{% url 'generar_pedido' %}" method="post" id="login-form">
  {% csrf_token %}

  <!-- Selecciona Paciente y trae último id de pedido + 1 -->
  <div class="form-group">
    <h4 class="mb-3">Pedido de venta a paciente</h4>
    <h5 class="mb-3">N° <span id="pedido">{{nuevo_id}}</span></h5>

    <label for="inputPaciente">Paciente</label>
    <select class="form-control" id="inputPaciente" name="paciente">
      {% for paciente in pacientes %}
        <option value="{{paciente.dni}}">{{paciente.nombre}} {{paciente.apellido}}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Selecciona tipo de producto, entre Otro Producto o Lente. En función de esto, trae otros campos en caso de ser Lente. -->
  <div class="form-group">
    <label for="opcionesLente">Tipo de Producto</label>
    <select class="form-control" id="opcionesLente" onchange="run()" name="tipo">
      <option value="producto">Otro producto</option>
      <option value="lente" selected>Lente</option>
    </select>
  </div>

  <!-- Campos mostrados en caso de ser Otro Producto (sólo pide seleccionar producto) -->
  <div class="form-group" id="inputsOtroProducto">
    <label for="inputProducto">Producto</label>
    <select class="form-control" id="inputProducto" onchange="run()" name="id-otro">
      {% for prod in otros_productos %}
        <option value="{{prod.id}}">{{prod.nombre}} ({{prod.descripcion}})</option>
      {% endfor %}
    </select>
  </div>

  <!-- Campos mostrados en caso de ser Lente ( pide seleccionar Lejos/Cerca, Izquierda/Derecha o Con/Sin Armazón) -->
  <div class="form-group" id="inputsLente">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputFarClose">Lejos o Cerca?</label>
        <select id="inputFarClose" onchange="run()" class="form-control">
          <option selected>Lejos</option>
          <option>Cerca</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputLeftRight">Izquierda o Derecha?</label>
        <select id="inputLeftRight" onchange="run()" class="form-control">
          <option selected>Izquierda</option>
          <option>Derecha</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputArmazon">Con o sin Armazón?</label>
        <select id="inputArmazon" onchange="run()" class="form-control">
          <option selected>Con Armazón</option>
          <option>Sin Armazón</option>
        </select>
      </div>
    </div>
  </div>

  <label for="id_producto">ID producto</label>
  <input id="id_producto" name="id_producto" readonly></input>

  <!-- Campos de Cantidad, Precio, Subtotal y Medio de Pago. Precio viene del modelo de Productos, que se va a reconocer según el id de producto seleccionado anteriormente. -->
  <div class="form-group">
    <div class="row">
      <div class="form-group col-md-2">
        <label for="inputCantidad">Cantidad</label>
        <input type="number" class="form-control" id="inputCantidad" name="cantidad" onchange="calculo_subtotal()" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputPrecio">Precio</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="number" class="form-control" id="inputPrecio" name="precio" onchange="calculo_subtotal()" readonly/>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="inputSubtotal">Subtotal</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" id="inputSubtotal" name="subtotal" readonly value="0">
        </div>
      </div>
      <div class="form-group col-md-4 offset-md-2">
        <label for="inputMedioDePago">Medio de Pago</label>
        <select class="form-control" id="inputMedioDePago" name="medio_pago">
          <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
          <option value="Tarjeta de Débito">Tarjeta de Débito</option>
          <option value="Billetera Virtual">Billetera Virtual</option>
          <option value="Efectivo">Efectivo</option>
        </select>
      </div>
    </div>
  </div>

  <h5 id="texto" style="display: none;"></h5>
  <input type="hidden" name="id-lente" id="hidden-input-id"/>

  <div class="form-group">
    <div class="form mt-2">
      <button type="submit" class="btn btn-primary" value="Registrar">Generar Pedido</button>
    </div>
  </div>

</form>

<a href="{% url 'index' %}">Volver atrás</a>

<script type="text/javascript" src="{%  static 'usuarios/crear_pedido.js' %}"></script>



<script type="text/javascript">
  var productos = JSON.parse('{{productos_serializados | safe}}');
  console.log(productos)

  function set_precio(){
      var id_prod = document.getElementById("id_producto").value;
      console.log(id_prod);
      var precio_prod = "";
      for(i=0; i<productos.length; i++){
        if(productos[i]["pk"]==id_prod){
          precio_prod = productos[i]["fields"]["precio_actual"];
          document.getElementById("inputPrecio").value = precio_prod;
        }
      }
  }

  function run(){
    run_1();
    set_precio();
  }

  document.addEventListener("DOMContentLoaded", run())
  
</script>

{% endblock %}