{% extends "./layout.html" %}
{% load static %}

{% block body %}

<h1>Historial de pacientes</h1>
<p>Pacientes de médico: {{medico.last_name}}, {{medico.first_name}}</p>

<!--OPCIÓN DE BUSCAR-->
<div id="list_pacientes">
    <!--<form>
    {% csrf_token %}
    {% for paciente in pacientes %}
        <input type="radio" class="radio">{{paciente.apellido}}, {{paciente.nombre}} (DNI: {{paciente.dni}})</input>
    {% endfor %}
    </form>-->

    <ul>
    {% for paciente in pacientes %}
        <li><a id="link-{{paciente.id}}" data-idpcte="{{paciente.id}}" class="links" href="#hist-{{paciente.id}}">{{paciente.apellido}}, {{paciente.nombre}} (DNI: {{paciente.dni}})</a></li>
    {% endfor %}
    </ul>

</div>

<div id="tablas">
    {% for paciente in pacientes %}
        <div id="hist-{{paciente.id}}"style="display: none" class="historiales">
            <h2>Paciente: {{paciente.apellido}}, {{paciente.nombre}} (DNI: {{paciente.dni}})</h2>
            <table class="table">
                <thead>
                    <tr> 
                        <th scope="col">#</th>
                        <th scope="col">Fecha y hora turno</th>
                        <th scope="col">Asistencia</th>
                        <th scope="col">Diagnostico</th>
                        <th scope="col">Observaciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-{{paciente.id}}">

                </tbody>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
var pacientes = JSON.parse('{{pacientes_serializ | safe}}');
console.log(pacientes);
var turnos = JSON.parse('{{turnos_serializ | safe}}');
console.log(turnos);
var diagnosticos = JSON.parse('{{diag_serializ | safe}}');
console.log(diagnosticos);

//Construir tabla para cada paciente
for(i=0; i< pacientes.length; i++){
    var id_pcte = pacientes[i]["pk"];
    var tbody = document.getElementById(`tbody-${id_pcte}`);

    for(z=0; z<turnos.length;z++){
        console.log(turnos[z])
        if (turnos[z]["fields"]["paciente"] == id_pcte){
            var id_turno = turnos[z]["pk"];
            console.log(id_turno)
            var diag = "";
            for(m=0; m<diagnosticos.length;m++){
                if (diagnosticos[m]["fields"]["turno"] == id_turno){
                    diag = diagnosticos[m]
                }
            }
            console.log(diag)
            var tr = document.createElement("tr");
            tbody.appendChild(tr);
            var th = document.createElement("th");
            th.innerHTML = `${i+1}`;
            tr.appendChild(th);
            var td_1 = document.createElement("td");
            td_1.innerHTML = `${turnos[z]["fields"]["fecha"]} (${turnos[z]["fields"]["horarios"]})`;
            var td_2 = document.createElement("td");
            td_2.innerHTML = `${turnos[z]["fields"]["asistencia"]}`;
            var td_3 = document.createElement("td");
            var td_4 = document.createElement("td");
            if (diag == ""){
                td_3.innerHTML = "No existe diagnostico" ;
                td_4.innerHTML == "No existe observacion";

            }else{
                td_3.innerHTML = diag["fields"]["diagnostico"];       
                td_4.innerHTML = diag["fields"]["observacion"];
            }
            tr.appendChild(td_1);
            tr.appendChild(td_2);
            tr.appendChild(td_3);
            tr.appendChild(td_4);

        }
    }
}

//Muestra tabla correspondiente
for(i=0; i< pacientes.length; i++){
    var id_pcte = pacientes[i]["pk"];
    document.getElementById(`link-${id_pcte}`).addEventListener("click", function(){
        document.querySelectorAll(".historiales").forEach(div => {div.style.display = "none"});
        document.getElementById(`hist-${id_pcte}`).style.display = "block";
    })
}



</script>

{% endblock %}