{% extends "./layout_gerencia.html" %}

{% block body %}

<!--<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Reportes</span>
            </h6>
            <ul class="nav flex-column reporte">
                <li class="nav-item">
                    <a id="turnos_pacientes" class="nav-link active inline-block" href="{% url 'reporte_1' %}">
                        <i id="icon-1" style="vertical-align: middle; text-align: center;" class="fal fa-user-clock feather" ></i>
                        Turnos de Pacientes
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pedidos_pacientes" class="nav-link inline-block" href="{% url 'reporte_2' %}">
                    <i id="icon-2" style="vertical-align: middle; text-align: center;" class="fal fa-prescription feather" ></i>
                        Pedidos de Pacientes
                    </a>
                </li>
                <li class="nav-item">
                    <a id="productos_mas_vendidos" class="nav-link inline-block" href="{% url 'reporte_3' %}">
                    <i id="icon-3" style="vertical-align: middle; text-align: center;" class="fal fa-file-invoice-dollar feather" ></i>
                        Productos más vendidos
                    </a>
                </li>
                <li class="nav-item">
                    <a id="ventas_totales" class="nav-link inline-block" href="#">
                    <i id="icon-4" style="vertical-align: middle; text-align: center;" class="fal fa-cash-register feather" ></i>
                        Ventas Totales por Vendedor <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>-->

<h1>Ventas Totales por Vendedor </h1>

{% endblock %}