{% extends "./layout.html" %}

{% block body %}

    <!--{% if request.user.first_name == "Robert" %}
        <h1 class="heading">Bienvenido, profesor {{ request.user.first_name }}</h1>
    {% else %}
        <h1 class="heading">Bienvenido, {{ request.user.first_name }}</h1>
    {% endif %}-->

    

{% if request.user.is_superuser %}
    <h1>Bienvenido, SUPERUSER</h1>
    <p style="font-size: 22px">Para acceder a sus funciones, cambie la url a "/admin"</p>
    </br>
{% else %}

<h1 class="heading">Bienvenido, {{ request.user.first_name }}</h1>

    <ul>
        <li>Usuario: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
        <li>Grupo: {{ grupo }}</li>
        <!-- <li>Grupo:  request.user.groups.values_list('name', flat=True) </li> -->

    </ul>

    {% if grupo == "Ventas" %}
        <a href="{% url 'generar_pedido' %}">Generar pedido para paciente</a><br>
        <a href="{% url 'ver_pedidos' %}">Ver pedidos</a>
        </br>
    {% endif %}


    {% if grupo == "Secretaria" %}
        <h4 class="mb-3">Funciones habilitadas</h4>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manejo de Turnos de Pacientes</h5>
                        <p class="card-text">Para generar turnos, o visualizar los de hoy.</p>
                        <a href="{% url 'generar_turno' %}" class="btn btn-primary">Generar turno</a>
                        <a href="{% url 'editar_turnos' %}" class="btn btn-secondary">Editar Turnos</a>
                        <a href="{% url 'turnos_hoy' %}" class="btn btn-info">Turnos de Hoy</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Pacientes</h5>
                        <p class="card-text">Para agregar nuevos pacientes, o editar existentes.</p>
                        <a href="{% url 'agregar_paciente' %}"  class="btn btn-primary">Agregar nuevo paciente</a>
                        <a href="{% url 'editar_paciente' %}"  class="btn btn-secondary">Editar paciente existente</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if grupo == "Profesional medico" %}
        <a href="{% url 'turnos_med' %}">Ver turnos y pacientes</a><br>
        <a href="{% url 'diagnosticar' %}">Diagnosticar</a><br>
        <a href="{% url 'pacientes_med' %}">Historial paciente</a>
        </br>
    {% endif %}

    {% if grupo == "Gerencia" %}
        <a href="{% url 'gerencia' %}">Acceder a reportes</a><br>
        </br>
    {% endif %}

    {% if grupo == "Taller" %}
        <a href="{% url 'taller' %}">Ver pedidos</a><br>
        </br>
    {% endif %}

{% endif %}

<a href="{% url 'logout' %}" class="btn btn-danger mt-4">Desconectarse</a>

{% endblock %}