{% extends "./layout.html" %}

{% block body %}

    {% if request.user.first_name == "Robert" %}
        <h1 class="heading">Bienvenido, profesor {{ request.user.first_name }}</h1>
    {% else %}
        <h1 class="heading">Bienvenido, {{ request.user.first_name }}</h1>
    {% endif %}

    <ul>
        <li>Usuario: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
        <li>Grupo: {{ grupo }}</li>
        <!-- <li>Grupo:  request.user.groups.values_list('name', flat=True) </li> -->

    </ul>

    {% if grupo == "Ventas" %}
        <a href="{% url 'generar_pedido' %}">Generar pedido para paciente</a>
        </br>
    {% endif %}


    {% if grupo == "Secretaria" %}
        <a href="{% url 'generar_turno' %}">Generar turno para paciente</a>
        </br>
    {% endif %}

    {% if grupo == "Paciente" %}
        <a href="{% url 'editar_paciente' %}">Editar información de contacto</a>
        </br>
    {% endif %}

        {% if grupo == "Profesional medico" %}
        <a href="{% url 'turnos_med' %}">Ver turnos de hoy</a>
        </br>
    {% endif %}

    <a href="{% url 'logout' %}">Desconectarse</a>
{% endblock %}