{% extends "./layout.html" %}

{% block body %}

    {% if request.user.first_name == "Robert" %}
        <h1 class="heading">Bienvenido, profesor {{ request.user.first_name }}</h1>
    {% else %}
        <h1 class="heading">Bienvenido, {{ request.user.first_name }}</h1>
    {% endif %}

    <ul>
        <li>Usuario: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
        <li>Grupo: {{ grupo }}</li>
        <!-- <li>Grupo:  request.user.groups.values_list('name', flat=True) </li> -->

    </ul>

    {% if grupo == "Ventas" %}
        <a href="{% url 'generar_pedido.html' %}">Generar pedido para paciente</a>
    {% endif %}

    <a href="{% url 'logout' %}">Desconectarse</a>
{% endblock %}