{% extends "./layout.html" %}
{% load static %}

{% block body %}


<h1>Datos de Pacientes</h1>

<div id="filtro" class="form-group ml-3">
    <div class="row">
            <label for="dni" class="mr-2">Buscar por DNI: </label>
            <input type="number" class="form-control col-lg-2 col-md-4 col-sm-6 col-5 ml-2" id="dni"></input>
            <button id="buscar" class="btn btn-dark ml-2"><i class="fal fa-search"></i> Buscar</button>
            <button id="ver_todos" class="btn btn-secondary ml-2" style="display: none">Ver todos</button>
        <!-- <p id="p_msj" style="color: red"></p><br> -->
    </div>
    <div class="row">
        <div id="div-msj" class="alert alert-danger col-lg-5 col-md-7 col-sm-10 col-10 inline-block mt-2" role="alert"
            style="display: none;">
            <i class="fal fa-exclamation-triangle"></i><span id="p_msj"></span>
        </div>
    </div>

</div>

    {% if grupo == "Secretaria" %}
    <br><a href="{% url 'editar_paciente' %}" class="btn btn-info mb-4"><i class="fal fa-user-edit"></i> Editar
        información de algún paciente</a><br>
    {% endif %}

    <table class="table" id="tbl">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">DNI</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr class="row_body">
                <th scope="row" class="num">{{paciente.id}}</th>
                <td>{{paciente.apellido}}</td>
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.dni}}</td>
                <td>{{paciente.fecha_nacimiento}}</td>
                <td>{{paciente.email}}</td>
                <td>{{paciente.telefono}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        var boton_todos = document.getElementById("ver_todos")
        var table = document.getElementById("tbl");
        var tr = table.getElementsByTagName("tr");
        var msj = document.getElementById("p_msj")

        function buscarPaciente() {
            var dni = document.getElementById("dni").value;
            var x = 0

            boton_todos.style.display = "none";

            if (dni.toString().length != 8) {
                document.getElementById("div-msj").style.display = "block";
                msj.innerHTML = " Por favor ingrese un número de documento válido";
            } else {
                document.getElementById("div-msj").style.display = "none";
                for (i = 0; i < tr.length; i++) {
                    var td = tr[i].getElementsByTagName("td")[2];
                    console.log(td)
                    if (td) {
                        var txtValue = td.textContent || td.innerText;
                        console.log(txtValue)
                        if (txtValue.toUpperCase().indexOf(dni) > -1) {
                            tr[i].style.display = "";
                            x += 1;
                            console.log(x)
                        } else {
                            tr[i].style.display = "none";
                        }
                    }

                }
                console.log(x)
                if (x === 0) {
                    msj.innerHTML = "No se encontró paciente con ese número de documento";
                    for (row of tr) {
                        row.style.display = "";
                    }
                } else {
                    boton_todos.style.display = "";

                }
            }
        }


        document.getElementById("buscar").addEventListener("click", function () {
            msj.innerHTML = "";
            buscarPaciente()
        })

        boton_todos.addEventListener("click", function () {
            for (row of tr) {
                row.style.display = "";
            }
            document.getElementById("dni").value = ""
            document.getElementById("ver_todos").style.display = "none"
        })
    </script>

    <a href="{% url 'index' %}">Volver atrás</a>

    {% endblock %}